.panel {
    width: 400rem;
}
.container {
    margin: 10rem;
}
.row, .inner-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.col, .col-wide {
    display: flex;
    flex-direction: column;
}
.col {
    margin-left: 5rem;
}
.col-wide {
    flex-basis: 0;
    flex-grow: 2;
}
.data, .data-num, .col, .row-header {
    flex-basis: 0;
    flex-grow: 1;
}
.data-num {
    text-align: right;
}
.row-header {
    font-weight: bold;
}
