.panel {
    width: 350rem;
}
.container {
    margin: 10rem;
}
.row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.data, .data-num, .col {
    flex-basis: 0;
    flex-grow: 1;
}
.data, .data-num {
    font-size: 14rem;
    color: lightgray;
    margin-bottom: 5rem;
}
.data {
    width: 140rem;
}
.data-num {
    text-align: right;
}
.row-header {
    font-weight: bold;
    display: flex;
}
